body {
  background-color: cornsilk;
}

table {
  width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

thead tr th {
  background-color: #888;
  padding: 5px;
}

thead tr td {
  padding: 5px;
  border-bottom: #ccc 1px solid;
}
