<h2 mat-dialog-title>
    <mat-icon>edit</mat-icon>
    Form Product
</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>
            <input matInput[(ngModel)]="product.name"/>
        </mat-label>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            <input matInput[(ngModel)]="product.price"/>
        </mat-label>
    </mat-form-field>
  <!--<mat-dialog-action>--> 
        <button mat-flat-button color="primary" (click)="save()">
            <mat-icon>check</mat-icon>
            Save
        </button>
    <!--</mat-dialog-action>--> 
</mat-dialog-content>
